.badge {
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $red;
    color: $text-white;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
}
