.dropdown {
    position: relative;

    &:hover,
    &:focus,
    &:focus-within {
        .dropdown__title {
            color: $blue;

            @media screen and (max-width: $md) {
                color: $black;
            }
        }

        .dropdown__icon {
            fill: $blue;

            @media screen and (max-width: $md) {
                fill: $black;
            }
        }

        .dropdown__list {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            pointer-events: initial;
        }
    }

    &:focus-visible {
        outline: none;
    }

    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__title {
        font-size: 1.6rem;
        transition: color 0.2s ease-in-out;
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-left: 7px;
        fill: $black;
        transition: fill 0.2s ease-in-out;
    }

    &__list {
        position: absolute;
        z-index: 1000;
        min-width: 120px;
        padding: 7px 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        transform: translateY(-5px);
        list-style-type: none;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }

    &__item {
        padding: 10px 12px;
        font-size: 1.4rem;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &--active {
            color: $blue;
        }

        &:hover,
        &:focus-visible {
            background-color: $steel-transparent;
        }

        &:focus-visible {
            outline: none;
        }
    }
}
