.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &__icon {
        width: 20px;
        height: 20px;
        fill: $text-blue;
        transition: fill 0.2s ease-in-out;
    }

    &:hover,
    &:focus-visible {
        .icon-button__icon {
            fill: $blue;
        }
    }

    &:focus-visible {
        outline: none;
    }
}
