.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include round-highlight($steel-transparent);

    &__icon {
        position: relative;
        z-index: 10;
        width: 20px;
        height: 20px;
        fill: $text-blue;
    }
}
