.result {
    display: grid;
    grid-template-columns: 1fr 90px 35px;
    column-gap: 10px;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid $black;

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    &__description {
        color: $text-blue;
        font-size: 1.6rem;
    }

    &__description-strong {
        color: $black;
        font-weight: 600;
    }

    &__percentage {
        justify-self: end;
        color: $blue;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &--low {
        .result__percentage {
            color: $red;
        }

        .bar__filler {
            background-color: $red;
        }
    }
}
