.subject-progress {
    --bar-fill-width: 50%;
    display: grid;
    grid-template-columns: 53px 1fr 110px;
    grid-template-rows: 53px;
    column-gap: 25px;
    align-items: center;

    &__level-code {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        border-radius: 12px;
        background-color: $bg-white;
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__subject {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.5rem;
    }

    &__level {
        color: $text-blue;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    &__bar {
        position: relative;
        flex-grow: 1;
        height: 5px;
        border-radius: 5px;
        background-color: #dcdce5;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: var(--bar-fill-width);
            height: 100%;
            border-radius: 5px;
            background-color: $blue;
        }
    }
}
