.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 45px 0 25px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__date {
        margin-right: 30px;
        font-size: 1.7rem;
        font-weight: 500;

        @media screen and (max-width: $sm) {
            margin-right: 20px;
            font-size: 1.4rem;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        border: none;
        border-radius: 12px;
        background-color: #e5e9fa;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:focus-visible {
            background-color: $blue;

            @media screen and (max-width: $md) {
                background-color: #e5e9fa;
            }

            .main__search-icon {
                fill: #e5e9fa;

                @media screen and (max-width: $md) {
                    fill: $blue;
                }
            }
        }

        @media screen and (max-width: $sm) {
            padding: 12px;
        }
    }

    &__search-icon {
        width: 18px;
        height: 18px;
        fill: $blue;
        transition: fill 0.2s ease-in-out;
    }

    &__menu-button {
        display: none;

        @media screen and (max-width: $xl) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 22px;
            margin-left: 20px;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        span {
            width: 100%;
            height: 2px;
            border-radius: 8px;
            background-color: $black;
            transform-origin: 0 0;
            transition: transform 0.2s ease-out;
        }

        &--active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: scale(0) translateY(-50%);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(-3px);
                }
            }
        }
    }

    &__greet {
        position: relative;
        margin-top: 55px;
        padding: 45px 75px;
        border-radius: 17px;
        background-color: #f7e5e9;

        @media screen and (max-width: $xxl) {
            padding: 25px 35px;
        }

        @media screen and (max-width: $sm) {
            padding: 15px;
        }
    }

    &__greet-text {
        max-width: 70%;

        @media screen and (max-width: $xxl) {
            max-width: none;
        }
    }

    &__greet-heading {
        margin-bottom: 25px;
        color: $red;
        font-size: 2.5rem;
        line-height: 3.7rem;

        @media screen and (max-width: $sm) {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    &__greet-text {
        font-size: 1.7rem;
        line-height: 2.7rem;

        @media screen and (max-width: $sm) {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }

    &__greet-image {
        position: absolute;
        bottom: 3px;
        right: 15%;
        display: block;
        max-width: 210px;
        height: auto;
        object-fit: cover;

        @media screen and (max-width: $xxl) {
            display: none;
        }

        @media screen and (max-width: $lg) {
            display: block;
            max-width: 160px;
        }

        @media screen and (max-width: $md) {
            right: 0;
        }

        @media screen and (max-width: $sm) {
            display: none;
        }
    }

    &__statistics {
        display: grid;
        grid-template-columns: minmax(300px, 430px) minmax(300px, 560px);
        gap: 30px;
        margin-top: 40px;

        @media screen and (max-width: $xxl) {
            grid-template-columns: 1fr;
        }
    }

    &__results,
    &__spent,
    &__coureses-item {
        @media screen and (max-width: $sm) {
            padding: 15px;
        }
    }

    &__subheading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__more {
        display: flex;
        align-items: center;
        color: $black;
        font-size: 1.6rem;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus-visible {
            color: $blue;

            @media screen and (max-width: $md) {
                color: $black;
            }

            .main__more-icon {
                fill: $blue;

                @media screen and (max-width: $md) {
                    fill: $black;
                }
            }
        }
    }

    &__more-icon {
        width: 16px;
        height: 16px;
        margin-left: 20px;
        fill: $black;
        transition: fill 0.2s ease-in-out;
    }

    &__results-list {
        margin-top: 20px;
    }

    &__spent-bars {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin-top: 50px;
    }

    &__spent-item {
        height: 245px;
    }

    &__spent-legend {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        gap: 20px 10px;
        margin: 50px 0 15px;
    }

    &__spent-annotation {
        display: flex;
        align-items: center;
        color: $text-blue;
        font-size: 1.4rem;

        &--red {
            .main__spent-annotation-color {
                background-color: $red;
            }
        }

        &--blue {
            .main__spent-annotation-color {
                background-color: $blue;
            }
        }

        &--purple {
            .main__spent-annotation-color {
                background-color: $purple;
            }
        }
    }

    &__spent-annotation-color {
        width: 12px;
        height: 12px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: $steel;
    }

    &__coureses {
        margin-top: 44px;
    }

    &__coureses-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        gap: 25px;
        margin-top: 35px;
    }
}
