.personal {
    display: flex;
    flex-direction: column;
    padding: 45px 0 25px 30px;
    background-color: #fff;

    @media screen and (max-width: $lg) {
        position: fixed;
        top: 0;
        left: -100vw;
        bottom: 0;
        z-index: 100;
        overflow: auto;
        width: 380px;
        padding: 45px 25px 30px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
        transition: left 0.3s ease-in-out;
    }

    &--active {
        @media screen and (max-width: $lg) {
            left: 0;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        left: 25x;
        display: none;

        &:hover,
        &:focus-visible {
            .personal__close-icon {
                fill: $text-blue;
            }
        }

        @media screen and (max-width: $lg) {
            display: flex;
            align-items: center;
            color: $text-blue;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    &__close-icon {
        margin-right: 10px;
        transform: rotate(180deg);
    }

    &__logout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__profile {
        align-self: center;
        margin-top: 50px;
    }

    &__avatar {
        position: relative;
        margin-bottom: 30px;
    }

    &__avatar-wrapper {
        max-width: 170px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__avatar-image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__avatar-button {
        position: absolute;
        bottom: 0;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        border-radius: 50%;
        background-color: $blue;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:focus-visible {
            background-color: $blue-light;
        }
    }

    &__avatar-icon {
        width: 12px;
        height: 12px;
        fill: $text-white;
    }

    &__username {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    &__status {
        margin-top: 12px;
        color: $text-blue;
        font-size: 1.6rem;
        text-align: center;
    }

    &__progresses {
        margin-top: 65px;
    }

    &__progresses-item {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
            --bar-fill-width: 85%;
        }
    }

    &__reminders {
        margin-top: 90px;
    }

    &__reminders-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__reminders-heading {
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__reminder-item {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__reminders-button {
        .icon-button__icon {
            fill: $text-blue;
        }
    }
}
