*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1745px;
	margin: 0 auto;
}
