*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #fff;
    color: $black;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a,
button {
    &:focus-visible {
        outline: none;
    }
}

main {
    margin: 0 -50px;
    padding: 0 50px;
    background-color: #f5f5fb;

    @media screen and (max-width: $lg) {
        margin: -20px;
        padding: 20px;
    }
}

.container {
    display: grid;
    grid-template-columns: 245px 1fr 380px;
    column-gap: 50px;
    max-width: 1785px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width: $xl) {
        grid-template-columns: 1fr 380px;
    }

    @media screen and (max-width: $lg) {
        grid-template-columns: 1fr;
    }
}
